@import "../../sass/variables";
@import "../../sass/mixins";

.page-header {
  .wrapper {
    display: flex;
    align-items: center;
  }
  .logo-link {
    width: 100px;
    height: 30px;
    background-color: red;
  }
  .profile-field {
    margin-left: auto;
    @media #{$min-tablet-width} {
      position: relative;
    }
  }
}